<h1>Edit album: <%= @album.name %></h1>
<div class="signup-form">
  
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@album.errors.count, "error") %>:
      </div>
      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_for(@album) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :band %>
    <%= f.collection_select(:band_id, @bands, :id, :get_name, prompt: true) %>
  
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  
    <%= f.submit "Edit", class: "btn" %>
  <% end %>
  
  <%= link_to '<div class="btn">Delete album</div>'.html_safe, @album, method: :delete, data: { confirm: "You sure?" } %>
</div>