<h1>Albums</h1>
<%= link_to '<div class="btn">Add a new album</div>'.html_safe, new_album_path %>
<ul class="band-list">
  <% @albums.each do |album| %>
    <li>
      <%= link_to album.name, album %>
    </li>
  <% end %>
</ul>