<h1><%= @album.name %></h1>
<h3><%= link_to @band.name, @band %></h3
<%= image_tag(@album.photo, class: 'band-focus-image') %>
<% if @album.info != "" %>
  <h2>About</h2>
  <p><%= @album.info %></p>
<% end %>
<%= link_to '<div class="btn">Edit album</div>'.html_safe, edit_album_path %>