<h1>Bands</h1>
<%= link_to '<div class="btn">Add a new band</div>'.html_safe, new_band_path %>
<ul class="band-list">
  <% @bands.each do |band| %>
    <li>
      <%= link_to band.name, band %>
    </li>
  <% end %>
</ul>