<h1>New band</h1>
<div class="signup-form">
  
  <% if @band.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@band.errors.count, "error") %>:
      </div>
      <ul>
      <% @band.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_for(@band) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  
    <%= f.label :biography %>
    <%= f.text_area :biography %>
  
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  
    <%= f.submit "Create band", class: "btn" %>
  <% end %>
</div>