<h1><%= @band.name %></h1>

<%= image_tag(@band.photo, class: 'band-focus-image') %>

<% if @band.biography != "" %>
  <h2>Biography</h2>
  <p><%= @band.biography %></p>
<% end %>

<% if @albums.length > 0 %>
  <h2>Albums</h2>
  <ul class="band-list">
  <% @albums.each do |album| %>
    <li>
      <%= link_to album.name, album %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= link_to '<div class="btn">Edit band</div>'.html_safe, edit_band_path %>