/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
$bgcol: rgb(41, 143,194);
$text: rgb(255,255,255);
$link: rgb(200,240,255);
$font: 'Open Sans', sans-serif;

body{
  background: $bgcol;
  color: $text;
  font-family: $font;
}

h1{
  font-size: 2em;
  padding-bottom: 0.5em;
}

h2{
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

h3{
  font-size: 1.2em;
  font-style: italic;
  padding-bottom: 2em;
}

p{
  line-height: 1.4em;
  padding-bottom: 0.5em;
  
  strong{
    font-weight: bold;
  }
}

a{
  color: $link;
  text-decoration: none;
  font-weight: bold;
  
  &:hover{
    color: lighten( $link, 10% );
  }
}

header{
  
  img{
    float: left;
    width: 160px;
    height: 30px;
    padding: 5px 0 0 10%;
    opacity: 0.7;
    transition: opacity 0.2s;
    
    &:hover{
      opacity: 0.9;
    }
  }
}

nav{  
  background: lighten( $bgcol, 10% );
  
  ul{
    display: flex; /* or inline-flex */
    justify-content: flex-end;
    padding-right: 10%;
    
    li{
      font-size: 0.8em;
      padding: 1em;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      
      &:hover{
        background: lighten( $bgcol, 15% );
      }
    }
  }
}

.container{
  padding: 2em 10%;
}

form{
  
  label{
    text-transform: none;
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    padding-bottom: 0.2em;
  }
  
  input{
    display: block;
    border: none;
    background: #FFFFFF;
    border-radius: 0.5em;
    padding: 0.5em;
    height: 1em;
    box-shadow: inset 0.1em 0.2em 0.1em #CCC;
    margin-bottom: 1em;
    width: 100%;
    max-width: 30em;
    
    &.btn{
      height: 2.5em;
      padding: 0;
    }
  }
  
  select{
    width: 100%;
    max-width: 30em;
    height: 2.5em;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    box-shadow: inset 0.1em 0.2em 0.1em #CCC;
    margin-bottom: 1em;
    background: #FFFFFF;
  }
  
  option{
    padding: 0.5em; 
  }
  
  textarea{
    display: block;
    border: none;
    background: #FFFFFF;
    border-radius: 0.5em;
    padding: 0.5em;
    height: 6em;
    box-shadow: inset 0.1em 0.2em 0.1em #CCC;
    margin-bottom: 1em;
    width: 100%;
    max-width: 30em;
  }
}

.btn{
  height: 1em;
  background: lighten($bgcol, 15%);
  color: $link;
  box-shadow: none;
  border-radius: 0.3em;
  padding: 1em;
  text-transform: uppercase;
  font-family: $font;
  font-weight: bold;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
  width: 10em;
  cursor: pointer;
  text-align: center;
  margin-bottom: 1.5em;
  
  &:hover{
    background: lighten($bgcol, 25%);
    color: lighten($link, 10%);
  }
}

/* bands */

img.band-focus-image{
  padding: 1em 0;
  max-width: 15em;
  max-height: 15em;
}

.band-list{
  list-style-type: disc;
  
  li{
    margin-left: 2em;
    padding-bottom: 1em;
  }
}

/* miscellaneous */

.debug_dump {
  background: #EEE;
  color: rgb(150,150,150);
  padding: 1em;
  font-size: 0.6em;
  border-radius: 0.6em;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  box-shadow: 0.2em 0.3em 0 darken( $bgcol, 10% );
}