<header>
  <%= link_to image_tag("logo.png"), root_path %>
  <nav>
    <ul>
      <%= link_to '<li>Bands</li>'.html_safe, bands_path %>
      <%= link_to '<li>Albums</li>'.html_safe, albums_path %>
      <%= link_to '<li>About</li>'.html_safe, about_path %>
    </ul>
  </nav>
</header>